.book{
    height:80px;
    border-radius: 20px;
    background-color:blueviolet ;
    
}
/* .card{
    background: transparent;
    backdrop-filter: blur(10px);
    transition: all .3s ease-in;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    height:100%;
    width: 100%;
} */

.doct{
    border-radius: 10px;
    background: transparent;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    display: flex;
    
    color: white;
}
.doc{
    color: white;
}
 

